body {
    background-color: #F9F6F6;
}

.search-page {
    display: flex; 
    justify-content: space-around;
    margin: 2em; 
    /* background-color: #46B68D; */
}

.lawn {
    height: 450px;
    width: auto;
}