ul {
    margin-top: 100px; 
}

.slide-top { 
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@media screen and (max-width: 600px) { 

    .slide-top {
       
    }

}