main {
    padding: 0 10% 0 10%;
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.joke-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
    width: 50%;
}

.joke-btn {
    background-color: black;
    color: #F9F6F6;
    font-size: large;
    width: 50%;
    height: 50px;
    border-radius: 10px;
}

.wobble {
	-webkit-animation: wobble-hor-bottom 0.8s both;
	animation: wobble-hor-bottom 0.8s both;
}