footer {
    position: fixed;
    bottom: 0; 
    width: 100%;
    height: 75px;
    background-color: rgb(185, 190, 228);
    box-shadow: 0 0 .75em #808080;
}

.footer-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}

.footer-name {
    display: flex;
    font-size: large;
    justify-content: space-between;
}

a {
    margin-left: 10px;
    color: black;
}


@media screen and (max-width: 600px) {

    .footer-name {
        font-size: medium;
    }

  }